.user-details-page {
margin-top: 100px;
    min-height: 100vh;
    padding: 40px 0;
    color: #f3f4f6;

}


.user-details-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-details-card {
    background: #23272a;
    border-radius: 18px;
    box-shadow: 0 4px 24px rgba(0,0,0,0.4);
    padding: 32px 28px;
    width: 100%;
}

.user-details-header {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.user-details-avatar {
    width: 80px;
    height: 80px;
    background: linear-gradient(135deg, #3a3f47 60%, #23272a 100%);
    border-radius: 50%;
    margin-right: 24px;
    border: 3px solid #282c34;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-details-avatar span{
    font-size: 44px;
    font-weight: 700;
}

.user-details-title {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.user-details-name h1 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    color: #f3f4f6;
}

.user-details-nikname span {
    font-size: 1rem;
    color: #8b949e;
}

.user-details-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 32px;
}

.user-details-content label {
    font-size: 0.95rem;
    color: #8b949e;
    margin-bottom: 2px;
    display: block;
}

.user-details-content span {
    display: block;
    font-size: 1.05rem;
    color: #f3f4f6;
    margin-bottom: 2px;
}

.user-details-adress span:not(:first-child),
.user-details-company span:not(:first-child) {
    margin-left: 8px;
}

.user-details-footer {
    display: flex;
    justify-content: flex-end;
}

