.btn {
  padding: 12px 50px;
  border: none;
  border-radius: 24px;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn svg {
  border: 1px solid #e2e2e2;
  border-radius: 50%;
  padding: 5px;
}

.btn-white {
  border: 1px solid #e2e2e2;
  color: #0e0e0e;
  background: #e2e2e2;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.btn-white:hover {
  border: 1px solid #4485FF;
  color: #e2e2e2;
  background: #4485FF;
}

.btn-transparent {
  border: 1px solid #e2e2e2;
  background: transparent;
  color: #e2e2e2;
}

.btn-sidebar{
  padding: 12px 20px ;

}